<a href="https://colab.research.google.com/github/VijayHarkare21/D2K_Recommender_PS2/blob/main/Data2Knowledge_Vijay.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
pip install requests

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: requests in /usr/local/lib/python3.8/dist-packages (2.25.1)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.8/dist-packages (from requests) (2022.12.7)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.8/dist-packages (from requests) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.8/dist-packages (from requests) (2.10)
Requirement already satisfied: chardet<5,>=3.0.2 in /usr/local/lib/python3.8/dist-packages (from requests) (4.0.0)

In [2]:
!pip install beautifulsoup4

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.8/dist-packages (4.6.3)

In [3]:
!pip install selenium

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting selenium
  Downloading selenium-4.8.0-py3-none-any.whl (6.3 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 6.3/6.3 MB 48.5 MB/s eta 0:00:00
Collecting urllib3[socks]~=1.26
  Downloading urllib3-1.26.14-py2.py3-none-any.whl (140 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 140.6/140.6 KB 18.3 MB/s eta 0:00:00
Requirement already satisfied: certifi>=2021.10.8 in /usr/local/lib/python3.8/dist-packages (from selenium) (2022.12.7)
Collecting trio-websocket~=0.9
  Downloading trio_websocket-0.9.2-py3-none-any.whl (16 kB)
Collecting trio~=0.17
  Downloading trio-0.22.0-py3-none-any.whl (384 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 384.9/384.9 KB 38.0 MB/s eta 0:00:00
Collecting exceptiongroup>=1.0.0rc9
  Downloading exceptiongroup-1.1.0-py3-none-any.whl (14 kB)
Collecting sniffio
  Downloading sniffio-1.3.0-py3-none-any.whl (10 kB)
Requirement already satisfied: sortedcontainers in /usr/local/lib/python3.8/dist-packages (from trio~=0.17->selenium) (2.4.0)
Collecting async-generator>=1.9
  Downloading async_generator-1.10-py3-none-any.whl (18 kB)
Requirement already satisfied: idna in /usr/local/lib/python3.8/dist-packages (from trio~=0.17->selenium) (2.10)
Collecting outcome
  Downloading outcome-1.2.0-py2.py3-none-any.whl (9.7 kB)
Requirement already satisfied: attrs>=19.2.0 in /usr/local/lib/python3.8/dist-packages (from trio~=0.17->selenium) (22.2.0)
Collecting wsproto>=0.14
  Downloading wsproto-1.2.0-py3-none-any.whl (24 kB)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in /usr/local/lib/python3.8/dist-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Collecting h11<1,>=0.9.0
  Downloading h11-0.14.0-py3-none-any.whl (58 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 58.3/58.3 KB 8.4 MB/s eta 0:00:00
Installing collected packages: urllib3, sniffio, outcome, h11, exceptiongroup, async-generator, wsproto, trio, trio-websocket, selenium
  Attempting uninstall: urllib3
    Found existing installation: urllib3 1.24.3
    Uninstalling urllib3-1.24.3:
      Successfully uninstalled urllib3-1.24.3
Successfully installed async-generator-1.10 exceptiongroup-1.1.0 h11-0.14.0 outcome-1.2.0 selenium-4.8.0 sniffio-1.3.0 trio-0.22.0 trio-websocket-0.9.2 urllib3-1.26.14 wsproto-1.2.0

In [4]:
import requests
from bs4 import BeautifulSoup

In [5]:
url = "https://www.scuba.io/blog/48-analytics-quotes-experts"
page = requests.get(url)

# print(page.text)

In [6]:
soup = BeautifulSoup(page.content, "html.parser")

In [7]:
quotes = soup.find(id="hs_cos_wrapper_post_body")
authors = []
quote_txt = []
category = []
authors1 = []
quote_txt1 = []
category1 = []

In [8]:
# For 48 Analytics Quotes Experts Website

authors.clear()
quote_txt.clear()
category.clear()
# print(quotes)
for author in quotes.find_all("h3"):
    # print(author.text, end="\n\n")
    # print(type(author))
    s = author.find("a")
    # print(s.text)
    # print(s)
    authors.append(s.text.strip().split(",")[0])
# print(len(authors_cat))
# for i in authors:
#     print(i)
ref_tag = quotes.find("h3")
# print(ref_tag)
i = 0
for tag in quotes.find_all("h3"):
    quote = tag.find_next_sibling("p")
    # print(quote.text)
    quote_txt.append(quote.text)
    # i += 1
# print(i)

# for i in quote_txt:
#     print(i)
for i in range(50):
    category.append("Analytics")

In [9]:
# 36 Inspirational Quotes on Big Data, Machine Learning and Artificial INtelligence
url1 = "https://datasemantics.co/36-inspirational-quotes-on-big-data-machine-learning-and-artificial-intelligence/"
headers = {"User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/110.0.0.0 Safari/537.36 Edg/110.0.1587.41"}
page1 = requests.get(url1, headers=headers)
soup1 = BeautifulSoup(page1.content, "html.parser")
# print(page1.text)

In [ ]:
quotes1 = soup1.find("div", itemprop="articleBody")
quote_txt1.clear()
authors1.clear()
category1.clear()
# print(quotes1)
n = 0
for i in quotes1.find_all("p"):    
    # print(n)
    if (n > 10 and n < 23) or (n> 23 and n < 48):
        quote_auth = i.text.split('”')
        # print(quote_auth)
        if quote_auth[0][0].isnumeric():
            link = i.findChildren("a", recursive=True)
            l1 = None
            for l in link:
                l1 = l
            author = None
            if (l1 != None):
                author = l1.text
            else:
                author = quote_auth[1]
                # print(author)
                author = author.replace("–", " ")
                author = author.replace("—", " ")
                author = author.replace("~", " ")
                author = author.strip()
                # print(author)
            
            quote = quote_auth[0].split('“')[1]
            quote_txt1.append(quote)
            authors1.append(author)
    n += 1
    # print(i, end="\n\n\n")
# for i, j in zip(quote_txt1, authors1):
#     print(i, "-", j, end="\n\n")

for i in range(12):
    category1.append("Big Data")
for i in range(24):
    category1.append("Machine Learning & Artificial Intelligence")

# for i in category1:
#     print(i)

In [ ]:
final_quotes = quote_txt + quote_txt1
final_authors = authors + authors1
final_category = category + category1

In [12]:
import pandas as pd

In [ ]:
df = pd.DataFrame(
    {"Quote": final_quotes,
     "Author": final_authors,
     "Category": final_category}
)

In [ ]:
df

,Quote,Author,Category
0,“Different verticals need different terminal r...,Alex Shultz,Analytics
1,“Tracking marketing is a cultural thing. Eithe...,Stuart McDonald,Analytics
2,“Time and money are your scarcest resources. Y...,Matt Trifiro,Analytics
3,“Have a vision for what you are trying to do. ...,Andrew Chen,Analytics
4,“Execution is so critical. Sometimes you just ...,Meenal Balar,Analytics
...,...,...,...
81,Is artificial intelligence less than our intel...,Spike Jonze,Machine Learning & Artificial Intelligence
82,"By far, the greatest danger of Artificial Inte...",Eliezer Yudkowsky,Machine Learning & Artificial Intelligence
83,The sad thing about artificial intelligence is...,Jean Baudrillard,Machine Learning & Artificial Intelligence
84,Forget artificial intelligence – in the brave ...,Tom Chatfield,Machine Learning & Artificial Intelligence
85,Before we work on artificial intelligence why ...,Steve Polyak,Machine Learning & Artificial Intelligence

In [ ]:
# My own data

url3 = "https://www.goodreads.com/quotes/tag/deep-learning#:~:text=Imaginations%20bring%20order%20out%20of,AI%20springs%20and%20AI%20autumns.%E2%80%9D&text=%E2%80%9CEmotions%20are%20essential%20parts%20of,Artificial%20Intelligence%20will%20remain%20incomplete.%E2%80%9D"
page3 = requests.get(url3)
# print(page3.text)
soup3 = BeautifulSoup(page3.content, "html.parser")

In [ ]:
quote_txt2 = []
authors2 = []
category2 = []

In [ ]:
quotes3 = soup3.find("div", class_="leftContainer")
# print(quotes3)

In [ ]:
# quotes5 = quotes3.find_all('div', class_='quote')
# print(quotes5)
for i in quotes3.find_all("div", class_="quote"):
    text = i.find('div', class_="quoteDetails").find('div', class_='quoteText').contents[0].strip()
    author = i.find('div', class_='quoteDetails').find('div', class_='quoteText').find('span', class_='authorOrTitle').text.replace(',', '').strip()
    quote_txt2.append(text)
    authors2.append(author)
    category2.append("Artificial Intelligence & Deep Learning")    
    # print(text)
    # print(author)
    # print()

In [ ]:
final_quotes += quote_txt2
final_authors += authors2
final_category += category2

In [ ]:
df = pd.DataFrame(
    {"Quote": final_quotes,
     "Author": final_authors,
     "Category": final_category}
)

In [ ]:
df.to_excel('quote_vijay.xlsx')

In [ ]:
df = pd.read_excel('quote_vijay.xlsx')

In [ ]:
df

,Quote_Id,Quote,Author,Category
0,0,Different verticals need different terminal re...,Alex Shultz,Analytics
1,1,Tracking marketing is a cultural thing. Either...,Stuart McDonald,Analytics
2,2,Time and money are your scarcest resources. Yo...,Matt Trifiro,Analytics
3,3,Have a vision for what you are trying to do. U...,Andrew Chen,Analytics
4,4,Execution is so critical. Sometimes you just n...,Meenal Balar,Analytics
...,...,...,...,...
111,111,Uncrumpling paper balls is what machine learni...,François Chollet,Artificial Intelligence & Deep Learning
112,112,"Despite the hype, AI isn't a reality. AI is ab...",Tom Golway,Artificial Intelligence & Deep Learning
113,113,Self-awareness is one of the key modules of co...,Amit Ray,Artificial Intelligence & Deep Learning
114,114,What is Machine Learning and Deep Learning?,P.S. Jagadeesh Kumar,Artificial Intelligence & Deep Learning
115,115,One of the key roles of an ethical AI system i...,Sri Amit Ray,Artificial Intelligence & Deep Learning

In [ ]:
df2 = pd.read_excel('quoteRiddhi.xlsx')

In [ ]:
df2

,Quote_Id,Quote,Author,Category
0,116,By definition all scientists are data scientis...,Monica Rogati,Data Science
1,117,\n“‘Possessed’ is probably the right word. I o...,Jennifer Shin,Data Science
2,118,\n“I think of data science as more like a prac...,Bob Hayes,Data Science
3,119,"\n“As a data scientist, I can predict what is ...",Bill Schmarzo,Data Science
4,120,\n“Data scientists are kind of like the new Re...,John Foreman,Data Science
...,...,...,...,...
56,172,"By far, the greatest danger of Artificial Inte...",Eliezer Yudkowsky,AI
57,173,"If we do it right, we might be able to evolve ...",John Hagel,AI
58,174,I’m increasingly inclined to think that there ...,Elon Musk,AI
59,175,"I don’t want to really scare you, but it was a...",James Barrat,AI
60,176,We have seen AI providing conversation and com...,Andrew Ng,AI

In [ ]:
frames = [df, df2]
result = pd.concat(frames)
display(result)

In [ ]:
result.set_index('Quote_Id')

,Quote,Author,Category
Quote_Id,,,
0,Different verticals need different terminal re...,Alex Shultz,Analytics
1,Tracking marketing is a cultural thing. Either...,Stuart McDonald,Analytics
2,Time and money are your scarcest resources. Yo...,Matt Trifiro,Analytics
3,Have a vision for what you are trying to do. U...,Andrew Chen,Analytics
4,Execution is so critical. Sometimes you just n...,Meenal Balar,Analytics
...,...,...,...
172,"By far, the greatest danger of Artificial Inte...",Eliezer Yudkowsky,AI
173,"If we do it right, we might be able to evolve ...",John Hagel,AI
174,I’m increasingly inclined to think that there ...,Elon Musk,AI
175,"I don’t want to really scare you, but it was a...",James Barrat,AI
176,We have seen AI providing conversation and com...,Andrew Ng,AI

In [ ]:
result.to_excel('final_quotes_data.xlsx')

In [ ]:
result.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 177 entries, 0 to 60
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Quote_Id  177 non-null    int64
 1   Quote     177 non-null    object
 2   Author    177 non-null    object
 3   Category  177 non-null    object
dtypes: int64(1), object(3)
memory usage: 6.9+ KB

In [25]:
# Preprocessing dataframe

result.duplicated(subset='Quote').sum()

11

In [26]:
result = result.drop_duplicates(subset='Quote')

In [27]:
result.duplicated(subset='Quote').sum()

0

In [28]:
result.head()

,Unnamed: 0,Quote_Id,Quote,Author,Category
0,0,0,Different verticals need different terminal re...,Alex Shultz,Analytics
1,1,1,Tracking marketing is a cultural thing. Either...,Stuart McDonald,Analytics
2,2,2,Time and money are your scarcest resources. Yo...,Matt Trifiro,Analytics
3,3,3,Have a vision for what you are trying to do. U...,Andrew Chen,Analytics
4,4,4,Execution is so critical. Sometimes you just n...,Meenal Balar,Analytics

In [10]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [24]:
result = pd.read_excel("final_quotes_data.xlsx")

In [29]:
from sklearn.feature_extraction.text import TfidfVectorizer
tf_idf = TfidfVectorizer(stop_words="english")

tf_idf_matrix=tf_idf.fit_transform(result["Category"])

In [19]:
from sklearn.metrics.pairwise import linear_kernel

In [30]:
cosine_similarity=linear_kernel(tf_idf_matrix,tf_idf_matrix)

In [31]:
cosine_similarity

array([[1., 1., 1., ..., 0., 0., 0.],
       [1., 1., 1., ..., 0., 0., 0.],
       [1., 1., 1., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 1., 1., 1.],
       [0., 0., 0., ..., 1., 1., 1.],
       [0., 0., 0., ..., 1., 1., 1.]])

In [34]:
indices=pd.Series(result.index,index=result["Quote_Id"]).drop_duplicates()

In [35]:
indices

Quote_Id
0        0
1        1
2        2
3        3
4        4
      ...
170    170
171    171
173    173
175    175
176    176
Length: 166, dtype: int64

In [41]:
def give_recommendation(title,cosine_similarity=cosine_similarity):
    index=indices[title]
    similarity_score=enumerate(cosine_similarity[index])
    similarity_score=sorted(similarity_score,key = lambda x:x[1],reverse=True)
    similarity_score=similarity_score[1:6]
    similarity_index=[i[0] for i in similarity_score]
    print(result["Quote"].iloc[similarity_index])
    print(result["Category"].iloc[similarity_index])
    print(result["Author"].iloc[similarity_index])

In [45]:
give_recommendation(56)

51              In God we trust, all others bring data.
52    No great marketing decisions have ever been ma...
53    Torture the data, and it will confess to anyth...
54    With data collection, ‘the sooner the better’ ...
55        Big data isn’t about bits, it’s about talent.
Name: Quote, dtype: object
51    Big Data
52    Big Data
53    Big Data
54    Big Data
55    Big Data
Name: Category, dtype: object
51    W Edwards Deming
52        John Sculley
53        Ronald Coase
54       Marissa Mayer
55     Douglas Merrill
Name: Author, dtype: object